<!DOCTYPE html>
<html>
<head>
    <title>ISBN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="/record">
        <label for="name">Nombre del usuario:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="last_name">Apellido:</label><br>
        <input type="text" id="last_name" name="last_name"></input><br>

        <label for="email">Correo electrónico del usuario:</label><br>
        <input type="text" id="email" name="email"></input><br>

        <label for="role">Role:</label><br>
        <input type="text" id="role" name="role"></input><br>

        <label for="is_active">Es activo:</label><br>
        <input type="text" id="is_active" name="is_active"></input><br>


        <label for="task_id">ID de la tarea:</label><br>
        <input type="text" id="task_id" name="task_id"></input><br>
        <label for="task_name">Nombre de la tarea:</label><br>
        <input type="text" id="task_name" name="task_name" required></input><br>
        <label for="task_description">Descripción de la tarea:</label><br>


        <input type="text" id="task_description" name="task_description"></input><br>
        <button type="submit">Crear</button>
    </form>
</body>
</html>